
.teamMembersParallaxBg {
  position: relative;
  height: 800px;
  overflow: hidden;
  .teamMembersBackground {
    height: 900px;
  }
}
.pageLink {
  text-decoration: underline;
  color: #010025
}

@media only screen and (max-width: 768px) {
  .teamMembersParallaxBg {
    height: 350px;
    .teamMembersBackground {
      height: 500px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .teamMembersParallaxBg {
    height: 250px;
    .teamMembersBackground {
      height: 350px;
    }
  }
}